* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: rgb(219, 219, 219);
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  padding: 100px;
}

.box,
.grid-box {
  width: 150px;
  aspect-ratio: 1/1;
  border-radius: 20px;
  background: linear-gradient(
    rgb(79, 0, 110),
    rgb(116, 0, 162),
    rgb(70, 0, 110)
  );
}

.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 30px;
  width: 50%;
  margin: auto;
  padding: 100px 0;
}

.grid-box {
  width: 100%;
}
